body {
    background-color: ghostwhite;
}

* {
    transition: 0.4s;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
input,
span,
a,
th {
    color: #202020 !important;
    text-decoration: none !important;
}

.btn,
.btn-small {
    background-color: teal !important;
}

.overlay {
    display: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: transparent !important;
    border-radius: 7px;
    width: 5px;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 7px;
    border: solid 1px black;
    background: gray;
    background-clip: content-box;
    padding: 0;
    margin: 0;
}

.theme-change {
    margin: 20px;
    position: fixed;
    bottom: 10px;
    right: 10px;

    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 19px 0;

    background: teal !important;
    color: whitesmoke;
    text-align: center;
    cursor: pointer;
}

.nav-wrapper {
    padding: 0 2rem;
}

.nav {
    font-size: large !important;
}

.darker-hr {
    color: #aaa;
    border: 1px solid #aaa;
}

.application-header {
    text-align: center;
}

.upload-card {
    width: 560px;
    height: 640px;
    background: #ddd;
    top: 165px;
    position: relative;
    border-radius: 35px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
    left: 50%;
    transform: translateX(-50%);
}

.uploader {
    display: flex;
}

.upload-image {
    margin-top: 15%;
    flex: 1;
    max-height: 300px;
    filter: invert(70%);
    z-index: 0;
}

.upload-text {
    color: #4b4b4b !important;
    text-align: center;
}

.dropzone {
    border: none;
}