body {
    background-color: #202020;
}

* {
    transition: 0.4s;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
input,
span,
a,
th {
    color: whitesmoke !important;
    text-decoration: none !important;
}

.btn,
.btn-small {
    background-color: teal !important;
}

.divider {
    background-attachment: aliceblue;
}

.overlay {
    display: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: transparent !important;
    border-radius: 7px;
    width: 5px;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 7px;
    border: solid 1px black;
    background: gray;
    background-clip: content-box;
    padding: 0;
    margin: 0;
}

.theme-change {
    margin: 20px;
    position: fixed;
    bottom: 10px;
    right: 10px;

    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 19px 0;

    background: teal !important;
    color: #202020 !important;
    text-align: center;
    cursor: pointer;
}

.preloader {
    background: #202020 !important;
}

.nav-wrapper {
    padding: 0 2rem;
}

.nav {
    font-size: large !important;
}

.darker-hr {
    color: #404040;
}

.application-header {
    text-align: center;
}

.upload-card {
    width: 560px;
    height: 640px;
    background: #252525;
    top: 165px;
    position: relative;
    border-radius: 35px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
    left: 50%;
    transform: translateX(-50%);
    transition: 0;
}

.uploader {
    display: flex;
}

.upload-image {
    margin-top: 15%;
    flex: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    max-height: 300px;
    z-index: -1;
}

.upload-text {
    color: #8f8f8f !important;
    text-align: center;
}

.dropzone {
    border: none;
}

.dropzone .dz-preview.dz-file-preview {
    background: transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-40%);
}

.dropzone .dz-preview.dz-file-preview .dz-image {
    background: linear-gradient(to bottom, #202020, #222222);
}

.dropzone .dz-preview.dz-error .dz-error-mark {
    display: none;
}

.dropzone .dz-preview.dz-error .dz-error-message {
    display: none;
}

.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {
    display: none;
}