{{> head }}
<body>
    <div id="preloader" style="height: 100%; width: 100%; background: ghostwhite; z-index: 998; position: fixed;" class="preloader"></div>
    <div id="overlay" class="overlay"></div>
    {{> navbar }}
    <div id="container" class="container">
        {{{ body }}}
    </div>
    {{> footer }}
</body>
</html>