<div class="upload-card">
    <div class="section">
        <h4 class="application-header">Загрузка заявки</h4>
    </div>
    <hr class="darker-hr">
    <form action="" class="dropzone" method="post" enctype="multipart/form-data">
       <div class="section uploader" name="uploader" id="uploader">
            <img src="images/icons8-document.svg" class="upload-image" alt="image format png"/>
            <input type="file" name="file" hidden/>
       </div>
       <div class="section">
           <h6 class="upload-text">для загрузки файла нажмите или перетяните его</h6>
       </div>
    </form>
</div>